@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~bulmaswatch/solar/variables";
@import "~bulma/bulma";
@import "~bulmaswatch/solar/overrides";

.copyright-icons {
  padding: 2rem 4rem;
}

.dashboard {
  display: flex;

  &__left-panel {
    flex: 0 0 auto;
    width: 25%;
  }
}

.hero-info {
  padding: 1rem 2rem;

  &__content {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
}

.menu-list-item {
  align-items: center;
  border-radius: $radius;
  cursor: pointer;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  margin: 1rem 0;
  transition: background-color 0.2s ease-in-out;

  &--selected {
    background-color: $grey-dark;
  }

  &__icon {
    fill: $yellow;
    height: 2rem;
    width: 2rem;
  }

  &__label {
    margin-left: 1rem;
    text-transform: uppercase;
  }
}
