@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~bulmaswatch/solar/variables";
@import "~bulma/bulma";
@import "~bulmaswatch/solar/overrides";

.menu-list-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  margin: 1rem 0;

  &__icon {
    fill: #EAEAEA;
    height: 2rem;
    width: 2rem;
  }

  &__label {
    margin-left: 1rem;
    text-transform: uppercase;
  }
}
